<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wunschliste</title>
    <link rel="stylesheet" href="../static/styles_wishlist.css">
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">Wunschliste</div>
        <nav>
            <ul>
                <li><a href="wishlist.html">Wunschliste anzeigen</a></li>
                <li><a href="index.html">Neuen Eintrag hinzufügen</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="wishlist-container" class="wishlist-container">
            <h2>Wunschliste</h2>
            <ul id="wishlist"></ul>
        </div>
    </main>
    <script src="../static/wishlist.js"></script>
</body>
</html>
