<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wunschliste</title>
    <link rel="stylesheet" href="../static/styles_wishlist.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">Wunschliste</div>
        <nav>
            <ul>
                <li><a href="wishlist.html">Wunschliste anzeigen</a></li>
                <li><a href="index.html">Neuen Eintrag hinzufügen</a></li>
                <li><a href="history.html">History</a></li>
            </ul>
        </nav>
    </header>
    <main> 
        <div id="wishlist-container" class="wishlist-container">
            <h2>Wunschliste</h2>
            <table>
                <thead>
                    <tr>
                        <th>Titel</th>
                        <th>Erscheinungsjahr</th>
                        <th>Kategorie</th>
                        <th>Bemerkung</th>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody id="wishlist"></tbody>
            </table>
        </div>
    </main>
    
    <!-- Modal für Bemerkung Bearbeitung -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <h2>Bemerkung bearbeiten</h2>
            <textarea id="modalNotes"></textarea>
            <div class="modal-buttons">
                <button id="saveNotes">Speichern</button>
                <button id="cancelNotes">Abbrechen</button>
            </div>
        </div>
    </div>

    <script src="../static/wishlist.js"></script>
</body>
</html>
